@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #fff;
  --primary-color: #cd5ff8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  overflow: visible;
  scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.none-scroll::-webkit-scrollbar {
  display: none;
}

.absolute-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.universe {
  background: url("../access/img/universe.png") no-repeat center center/cover;
  z-index: -1;
}

.background {
  background-image: url("../access/img/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 0.2;
}

.gradient {
  background-image: linear-gradient(
    180deg,
    rgba(23, 11, 40, 1) 20%,
    rgba(24, 17, 38, 0.85) 100%
  );
}

.re-gradient {
  background-image: linear-gradient(
    180deg,
    rgba(24, 17, 38, 0.85) 20%,
    rgba(23, 11, 40, 1) 100%
  );
}

.flex-2 {
  flex: 2;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.card {
  transition: transform 0.5s;
  transform-style: preserve-3d;
  perspective: 1000px;
  width: 100%;
}

.card .front {
  backface-visibility: hidden;
  transform: rotateY(0deg);
  transition: transform 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card .back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 0.5s;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 1rem;
}

.card:hover .back {
  transform: rotateY(0deg);
}

.nav-item.active::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 4px;
  background-color: var(--primary-color);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-item::after {
  content: "";
  display: block;
  height: 4px;
  border-radius: 4px;
  background-color: transparent;
  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0;
  transition: all 0.5s ease-in-out;
}

.nav-item:hover::after {
  content: "";
  display: block;
  right: 0;
  background-color: var(--primary-color);
}

.animate-wave {
  animation: wave 2s infinite;
  display: inline-block;
  transform-origin: 70% 70%;
}

.animate-typing {
  animation: typing 0.5s steps(40) infinite alternate-reverse;
  display: inline-block;
  overflow: hidden;
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
